# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: mkckr0's Homepage
author:
  name: mkckr0
  url: https://github.com/mkckr0
source_url: https://github.com/mkckr0/mkckr0.github.io

# Build settings
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-github-metadata
  - jekyll-last-modified-at

# output
permalink: /blog/:year/:title:output_ext
timezone: Asia/Shanghai

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .git
  - .vscode
  - .github
  - .gitignore

kramdown:
  smart_quotes: ["apos", "apos", "quot", "quot"]
  syntax_highlighter_opts:
    block:
      line_numbers: true

paginate: 10
paginate_path: "/blog/page/:num"

webmaster_verifications:
  google: croszSf2DmpOKs461yxlM-eLv5vI3zFdUpvdYUrviYY
  bing: 72A92EBC28D29DFCA005FC97305E8C23

defaults:
  - scope:
      path: "assets/*"
    values:
      sitemap: false
  - scope:
      path: "blog/page"
    values:
      sitemap: false
    